.no-pointer-cursor {
  cursor: auto !important;
}

.css-1da7mu8-MuiButtonBase-root-MuiAccordionSummary-root:hover:not(
    .Mui-disabled
  ) {
  cursor: default !important;
}

@media (max-width: 600px) {
  .css-10hburv-MuiTypography-root {
    font-size: 0.8rem !important;
  }
}
